/vim/.vim/plugged/*
/vim/.vim/.netrwhist
/nvim/.config/nvim/plugged/*
/nvim/.config/nvim/undodir/*
/nvim/.config/nvim/sessions/*
/nvim/.config/nvim/.netrwhist
/qtile/.config/qtile/__pycache__/*
/qutebrowser/.config/qutebrowser/bookmarks/*
/qutebrowser/.config/qutebrowser/autoconfig.yml
/qutebrowser/.config/qutebrowser/quickmarks
/ranger/.config/ranger/__pycache__/*
/ranger/.config/ranger/plugins/__pycache__/*
/ranger/.config/ranger/plugins/__init__.py
/ranger/.config/ranger/plugins/fzf-marks/__pycache__/*
/ranger/.config/ranger/plugins/ranger-devicons/__pycache__/*
/ranger/.config/ranger/plugins/ranger-gitplug/__pycache__/*
/vimb/.config/vimb/bookmark
/vimb/.config/vimb/closed
/vimb/.config/vimb/command
/vimb/.config/vimb/cookies.db
/vimb/.config/vimb/history
/vimb/.config/vimb/search
/amp/.config/amp/syntaxes/*
/moc/.moc/cache/*
/moc/.moc/equalizer
/moc/.moc/last_directory
/moc/.moc/pid
/moc/.moc/socket2
/moc/.moc/softmixer
/xfce4/.config/xfce4/Verve/*
/xfce4/.config/xfce4/help.rc
/xfce4/.config/xfce4/helpers.rc
/xfce4/.config/xfce4/xfce4-screenshooter
/kupfer/.config/kupfer/config-kupfer.plugin.favorites-v2.pickle
/kupfer/.config/kupfer/mnemonics.pickle
/plank/.config/*
/micro/.config/micro/buffers/*
