# AMP
/amp/.config/amp/syntaxes/*

# BIN
/bin/.local/share/man/man1/ipython.1.gz

# BROOT
/broot/.config/broot/launcher/*

# THEMES
/themes/.icons/default/*
/themes/.config/qt5ct/*
!/themes/.config/qt5ct/colors

# VIM
/vim/.vim-viminfo-local
/vim/.vim/.netrwhist
/vim/.vim/plugged/*
/vim/.vim/undodir/*
/vim/.vim/cache/*
/vim/.vim/sessions/*

# SHELL
/shell/.config/*
/shell/.config/fish/*
!/shell/.config/fish
!/shell/.config/fish/config.fish

# AUTOSTART
/autostart/.config/autostart/*
!/autostart/.config/autostart/kalu.desktop
!/autostart/.config/autostart/kupfer.desktop
!/autostart/.config/autostart/ferdi.desktop
