/* We set some default options here.  This is loaded with a low priority,
 * the rest will use whatever default colors are in your main gtk theme */
#XfceNotifyWindow {
    background-color: #1E1F29;
    border-radius: 0px;
    border: 2px solid #BFBFBF;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: #1E1F29;
    border: 2px solid #BFBFBF;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #BFBFBF;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #3A3C4E;
    color: #BFBFBF;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #3A3C4E;
    color: #BFBFBF;
}

#XfceNotifyWindow progressbar {
    min-height: 5px;
    border-radius: 5px;
}

#XfceNotifyWindow progressbar progress {
    background-image: linear-gradient(to right, #BFBFBF, #626483);
    background-color: #3A3C4E;
}

#XfceNotifyWindow progressbar trough {
    background-image: none;
    background-color: #3A3C4E;
    border: 0px;
    border-radius: 5px;
}
