[Desktop Entry]
Name=Printers
GenericName=Printers
Comment=Configure printers
Icon=printer
Exec=system-config-printer
Terminal=false
Type=Application
StartupNotify=true
Categories=XFCE;GTK;GNOME;Settings;HardwareSettings;DesktopSettings;XXFCE-SettingsDialog;XXFCE-HardwareSettings;
Keywords=Printer;Queue;Print;Paper;Ink;Toner;
X-Ubuntu-Gettext-Domain=system-config-printer
